@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.timeline-container {
  height: 100vh; /* or any appropriate height */
  width: 100%;
  overflow: auto; /* Ensure the content can be scrolled if necessary */
}

.vertical-timeline--animate .vertical-timeline-element-content {
  opacity: 1 !important;
  transform: none !important;
}